{% extends "network/layout.html" %}

{% block body %}
    
    <button id="backBtn" class="btn text-white mb-5 mt-3 text-start"><span><i class="fa-solid fa-chevron-left"></i></span> Back</button>

    <div id="feed">
    </div>
   
    <div id="createPost">

        <h1>New Post</h1>

        <form id="compose-form" action="{% url 'create-post' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="text" id="compose-body" cols="10" placeholder="What are you thinking?..."></textarea>
            </div>
            <input type="submit" value="Post">

        </form>
        
    </div>

    <div id="showProfile">
        <h2 id="userName"></h2>
        <div class="profile-follow">
            <p id="followers"></p>
            <p id="following"></p>
        </div>
        <button id="follow" class="d-none"></button>
        <h4 class="posts-title">Posts</h4>
        
        <div id="posts"></div>
     
    </div>

  
    <form id="editForm">

        <h2>Edit post</h2>
        <textarea id="editText" cols="10"></textarea>
        <input type="submit" value="Edit">
    </form>


    <section id="comments">
        <div class="d-flex flex-col post-card">
            <div class="mt-2"><i class="fa-solid fa-user-astronaut fa-2x"></i></div>
        
            <div class="post-body">
                <div class="d-flex flex-row">
                    <h4 class="post-username comment-post-user"></h4>
                    <p class="post-timestamp comment-post-time"></p>
                </div>
                <p class="post-text comment-post-text"></p>
        
        
            </div>
           
        </div>
        
        
        <div class="comments">
            
            <h3>Comments</h3>
            
            <div class="comment-card">
                
            
            </div>
        
        </div>
        
        <form id="addComment">
        
            <h2>Add a comment</h2>
            <textarea id="commentText" cols="10"></textarea>
            <input id="submitComment" type="submit" value="Send">
        </form>
    </section>


    <nav aria-label="Page navigation" id="pageNav" class="pb-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" id="prev">Previous</a></li>
            <li class="current-page"><p class="" id="currentPage"></a></li>
            <li class="page-item"><a class="page-link" id="next">Next</a></li>
        </ul>
    </nav>

{% endblock %}

