{% extends "network/layout.html" %}

{% block body %}
    
    <button id="backBtn" class="btn text-white mb-5 mt-3 text-start"><span><i class="fa-solid fa-chevron-left"></i></span> Back</button>

    <div id="feed">
    </div>
   
    <div id="createPost">

        <h1>New Post</h1>

        <form id="compose-form" action="{% url 'create-post' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="text" id="compose-body" cols="10" placeholder="What are you thinking?..."></textarea>
            </div>
            <input type="submit" value="Post">

        </form>
        
    </div>

    <div id="showProfile">
        <h2 id="userName"></h2>
        <p id="followers"></p>
        <p id="following"></p>
        <h4>Posts</h6>
        <button id="follow" class="d-none"></button>
        
        <div id="posts"></div>
     
    </div>

  
    <form id="editForm">

        <h2>Edit post</h2>
        <textarea id="editText" cols="10"></textarea>
        <input type="submit" value="Edit">
    </form>


    <nav aria-label="Page navigation" id="pageNav" class="pb-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" id="prev">Previous</a></li>
            <li class="current-page"><p class="" id="currentPage"></a></li>
            <li class="page-item"><a class="page-link" id="next">Next</a></li>
        </ul>
    </nav>

{% endblock %}

