/* Global */

a{
    cursor: pointer;
}
body {
    background-color: #0c1013;
    color: #f3f3f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    flex-direction: column;
}


/* Navbar */
.navbar {
    background-color: transparent;
    border-bottom: 2px solid #485460;
    max-width: 1240px;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
}

.navbar-dark .navbar-toggler{
    border:none;    
}

.navbar-dark .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-nav {
    width: 100%;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    font-size: 16px;
}

.feed-type {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: flex-end;
    margin-top: 20px;
}

.feed-type p {
    margin-bottom: 0;
    cursor: pointer;
    
}

.active {
    color: #485460;
    font-weight: 700;
}

.navbar{
    padding-bottom: 0 !important;
}


.post-username{
    cursor: pointer;
}

#backBtn {
    background-color: transparent;
    padding: 0;
    font-size: 18px;  
}

.fa-house,
.fa-pen-to-square,
.fa-eye {
    transform: scale(1.3);
}


/* footer */
footer .container{
    padding-bottom: 1rem !important;
}

footer {
    background-color: #0c1013 !important;
    max-width: 1240px;
    margin: 0 auto;
    border-radius: 15px 15px 0 0 !important;
    border-top: 1px solid #485460 !important;
    border-bottom: none !important;

}

/* Post */

.post-card{
    border-top: 1px solid #1d1f22;
    padding: 20px 0px;
}

.post-card:first-of-type {
    border-top: none !important;
}

.fa-user-astronaut {

    border-radius: 50%;
    padding: 12px;
    background-color: #1B9CFC;
}
.post-body {
    margin-left: 15px;
}

.post-username {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.post-timestamp {
    font-size: 12px;
    color: #5f6b77;
    margin-top: 4px;
    margin-bottom: 0;
    padding: 0;
}

.post-text {
    font-size: 18px;
    color: #eee;
    margin: 0;
    letter-spacing: 0.3px;
    font-weight: lighter;
    margin-bottom: 5px;
    
}

.post-comments {
    cursor: pointer;
}

.post-actions {
    display: flex;
    color: #5f6b77 !important;
}
.post-actions>p {
    margin:0px 20px ;
}

.fa-heart{
    margin-top: 4px;
}
.fa-solid.fa-heart{
    color: #ff3f34;
}
.fa-heart:hover {
    opacity: 0.8;
    cursor: pointer;
}

.edit-btn {
    cursor: pointer;
}

a:not([href]){
    color: #1B9CFC;
}

.page-link {
    margin: 20px 0px;
    
}

.page-item:hover{
    color: #1B9CFC;
}

.current-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    margin-top: 14px;
}

/* Posts */
textarea{
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    padding: 5px 10px;
}

input[type=submit] {
    padding: 10px;
    border-radius: 10px;
}

input[type=submit]:hover {
    opacity: 0.8;
    transform: scale(0.98);
}

#follow {
    border: none;
    background-color: #1B9CFC;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 5px 10px;
    color: #fff;
}

#follow:hover {
    opacity: 0.8;
    transform: scale(0.98);
}

.err-message {
    color: #dd352c;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: #e4e4e4;
    border: 1px solid #CAD3C8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 5px;
    animation: err-msg 1s;
    
}

@keyframes err-msg {
    0% {
        opacity: 0;

    }
    
    100% {
        opacity: 1;
    }
}

#showProfile {
    position: relative;
}


/* Profile */

.profile-follow {
    display: flex;
    justify-content: space-between;
}

.profile-follow p span {
    color: #485460;
}

.posts-title {
    margin-top: 30px;
     border-bottom: 1px solid #485460;
}


/* Pagination btns */
a:not([href]) {
    color: #2c3e50;
}

.page-link:hover {
    color: #0c1013 !important;
}


#feed {
    margin-top: 30px;
}


/* Comments */
.comments {
    margin-top: 10px;
}

.comments h3 {
    
    color: #5f6b77;
    font-weight: 800;
}
.comment-card {
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
}
.comment-card> div {
  display: flex;
  border-bottom: 1px solid #1d1f22;
  margin-top: 20px;
}

.comment-card>div p{
    margin-left: 20px;
    margin-bottom: 0.5rem !important;
    align-self: center;
    color: #6f7983;
}

input[type='submit'] {
    background-color: #1B9CFC !important;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
}

textarea{
    background-color: #0c1013 !important;
    border: 2px solid #1d1f22;
    color: #fff;
}
